# Binaries
honeypot
*.exe
*.bin
bin/

# Data and Logs
data/*.db
data/*.db-*
data/sessions/
data/reports/
data/host_key
data/*.mmdb

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Go
vendor/
go.work
