# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Honeypot Data
data/*.db
data/host_key
data/sessions/
data/reports/
data/GeoLite2-City.mmdb

# Config
config.yaml.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
